rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    //
    // NOTE: THIS MUST BE MERGED WITH THE CURRICULUM REPO firestore.rules BEFORE DEPLOYMENT
    //

    //
    // admin.gbstem.org and portal.gbstem.org data
    //

    // Only allows checking if a generated ID document exists, with no data returned.
    match /ids/{id} {
      allow read, create: if isSignedIn();
      allow delete: if isUserWithId(id);
    }

    match /users/{userId} {
      allow read, write: if isUser(userId);
      allow read, write: if isAdmin();
    }

    // Used to queue outgoing emails before they are sent, with no read access.
    match /mail/{mailId} {
      allow create: if isSignedIn();
    }

    //
    // ACCOUNT CREATION TOKENS
    //
    match /tokens/{token} {
      allow read, write: if isAdmin();
    }

    //
    // APPLICATIONS
    //
    match /applicationsSpring24/{userId} {
      allow read, write: if isUser(userId) || isAdminOrReviewer();
      match /meta/scheduled {
        allow read, write: if isUser(userId) || isAdminOrReviewer();
      }
    }
    match /applicationsFall24/{userId} {
      allow read, write: if isUser(userId) || isAdminOrReviewer();
      match /meta/scheduled {
        allow read, write: if isUser(userId) || isAdminOrReviewer();
      }
    }
    match /applicationsSpring25/{userId} {
      allow read, write: if isUser(userId) || isAdminOrReviewer();
      match /meta/scheduled {
        allow read, write: if isUser(userId) || isAdminOrReviewer();
      }
    }
    match /applicationsFall25/{userId} {
      allow read, write: if isUser(userId) || isAdminOrReviewer();
      match /meta/scheduled {
        allow read, write: if isUser(userId) || isAdminOrReviewer();
      }
    }
    match /applicationsSpring26/{userId} {
      allow read, write: if isUser(userId) || isAdminOrReviewer();
      match /meta/scheduled {
        allow read, write: if isUser(userId) || isAdminOrReviewer();
      }
    }

    //
    // REGISTRATIONS
    //
    match /registrationsSpring24/{userId} {
      allow read: if isSignedIn() && belongsToSameUser(userId) || isStaff();
      allow write: if isOwnerOrAdmin(userId);
    }
    match /registrationsFall24/{userId} {
      allow read: if isSignedIn() && belongsToSameUser(userId) || isStaff();
      allow write: if isOwnerOrAdmin(userId);
    }
    match /registrationsSpring25/{userId} {
      allow read: if isSignedIn() && belongsToSameUser(userId) || isStaff();
      allow write: if isOwnerOrAdmin(userId);
    }
    match /registrationsFall25/{userId} {
      allow read: if isSignedIn() && belongsToSameUser(userId) || isStaff();
      allow write: if isOwnerOrAdmin(userId);
    }
    match /registrationsSpring26/{userId} {
      allow read: if isSignedIn() && belongsToSameUser(userId) || isStaff();
      allow write: if isOwnerOrAdmin(userId);
    }

    //
    // DECISIONS
    //
    match /decisionsSpring24/{userId} {
      allow read: if isUser(userId);
      allow read, write: if isAdminOrReviewer();
    }
    match /decisionsFall24/{userId} {
      allow read: if isUser(userId);
      allow read, write: if isAdminOrReviewer();
    }
    match /decisionsSpring25/{userId} {
      allow read: if isUser(userId);
      allow read, write: if isAdminOrReviewer();
    }
    match /decisionsFall25/{userId} {
      allow read: if isUser(userId);
      allow read, write: if isAdminOrReviewer();
    }
    match /decisionsSpring26/{userId} {
      allow read: if isUser(userId);
      allow read, write: if isAdminOrReviewer();
    }

    //
    // CLASSES
    //
    match /classesSpring24/{userId} {
      allow read: if isSignedIn();
      allow create: if isInstructorOwnerOrAdmin(userId);
      allow write: if isAdminOrReviewer();
    }
    match /classesFall24/{userId} {
      allow read: if isSignedIn();
      allow create: if isInstructorOwnerOrAdmin(userId);
      allow write: if isAdminOrReviewer();
    }
    match /classesSpring25/{userId} {
      allow read: if isSignedIn();
      allow create: if isInstructorOwnerOrAdmin(userId);
      allow write: if isAdminOrReviewer();
    }
    match /classesFall25/{userId} {
      allow read: if isSignedIn();
      allow create: if isInstructorOwnerOrAdmin(userId);
      allow write: if isAdminOrReviewer();
    }
    match /classesSpring26/{userId} {
      allow read: if isSignedIn();
      allow create: if isInstructorOwnerOrAdmin(userId);
      allow write: if isAdminOrReviewer();
    }

    match /instructorClasses/{classId} {
      allow read, write: if isInstructor() || isAdmin();
    }

    //
    // INTERVIEW TIMES / REQUESTS
    //
    match /instructorInterviewTimes/{interviewId} {
      allow read, update: if isStaff();
      allow create, delete: if isAdminOrReviewer();
    }
    match /instructorInterviewTimesFall25/{interviewId} {
      allow read, update: if isStaff();
      allow create, delete: if isAdminOrReviewer();
    }
    match /instructorInterviewTimesSpring26/{interviewId} {
      allow read, update: if isStaff();
      allow create, delete: if isAdminOrReviewer();
    }

    match /interviewTimeRequests/{time} {
      allow read, create: if isStaff();
      allow update, delete: if isAdminOrReviewer();
    }

    //
    // SUBSTITUTE INSTRUCTORS REQUESTS
    //
    match /subRequests/{subRequest} {
      allow read, create: if isStaff();
      allow update, delete: if isInstructor() || isAdmin();
    }

    //
    // SEMESTER DATES
    //
    match /semesterDates/{semesterDate} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    //
    // PARENT / GUARDIAN CONFIRMATIONS
    //
    match /confirmations/{userId} {
      allow read: if isUser(userId) || isAdminOrReviewer();
      allow write: if isUser(userId) || isAdmin();
    }

    //
    // REAL-TIME PROGRAM CHECK-INS AND MEAL CHECKOUTS
    //
    match /hhids/{userId} {
      allow read: if isSignedIn() && belongsToSameUser(userId) || isAdminOrReviewer();
      allow write: if isSignedIn() && belongsToSameUser(userId) || isAdminOrReviewer();
    }

    //
    // FEEDBACK
    //
    match /classFeedback24/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /classFeedback25/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /classFeedback26/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }

    match /instructorFeedback24/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /instructorFeedback25/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /instructorFeedbackFall24/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /instructorFeedbackSpring25/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /instructorFeedbackFall25/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
    match /instructorFeedbackSpring26/{feedbackId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }

    //
    // HELPER FUNCTIONS
    //
    function belongsToSameUser(userId){
      return userId.matches(request.auth.uid + '.*');
    }
    function hasRole(role) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }
    function hasRRole(role) {
      return request.auth.token.role == role;
    }
    function hasUserId(userId) {
      return request.auth.uid == userId;
    }
    function hasid(id) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.id == id;
    }
    function isAdmin() {
      return isSignedIn() && hasRRole('admin');
    }
    function isAdminOrReviewer() {
      return isSignedIn() && (hasRRole('admin') || hasRRole('reviewer'));
    }
    function isInstructor() {
      return isSignedIn() && hasRole('instructor');
    }
    function isInstructorOwnerOrAdmin(userId) {
      return (isInstructor() && hasUserId(userId)) || isAdmin();
    }
    function isOwnerOrAdmin(userId) {
      return (isSignedIn() && belongsToSameUser(userId)) || isAdmin();
    }
    function isSignedIn() {
      return request.auth != null;
    }
    function isStaff() {
      return isAdminOrReviewer() || isInstructor();
    }
    function isUser(userId) {
      // Verifying the current user is the owner by UID
      return isSignedIn() && hasUserId(userId);
    }
    function isUserWithId(id) {
      // Verifying the current user's profile document ID maps to the requested identifier
      return isSignedIn() && hasid(id);
    }
  }
}
